@{
    Layout = null;
}
@model  TemplateTest1.Models.RecentDateModel
<div class="posts-wrap">
    <h3>Recent Posts</h3>
    <ul>
        @foreach (var item in Model.Items)
        {
            <li>
                <p class="date">@item.Date.ToString("D")</p>
                <p class="post"><a href="@item.URL">@item.text</a></p>
            </li>
        }
    </ul>
</div>