@{
    Layout = null;
}
@model TemplateTest1.Models.AddCommentModel
<div class="add-comment">
    <form action="@Url.Action("AddComment","Home")" method="post">
        @Html.TextAreaFor(m=>m.Comment, new { placeholder = "Your comment", @class="txt-area"})
        <div class="wrap-btn">
            <button class="btn-cancel">Cancel</button>
            <button class="btn-save">Save changes</button>
            <p>Lorem ipsum dolor sit amet, <a href="#">adipiscing</a></p>
        </div>
    </form>
</div>